__pycache__
*.pyc
*.pyo
*.pyd
dist/
build/
*.egg-info
.token 
*.env
.venv
.secrets.secrets
dist
.pytest_cache
.secrets
Schedule.md
# Ignore everything in the folder...
mvcluster/datasets/data_lmgec/*

# ...but DO NOT ignore .gitattributes and .mat files
!mvcluster/datasets/data_lmgec/.gitattributes
!mvcluster/datasets/data_lmgec/*.mat

publish_to_pypi.md
demo.py
omic-help.md
Multi_Omique_Data.ipynb
prepared_datasets
examples/custom_data
plots
custom_data_info.md
hyperparam_results.csv
MANIFEST.in
omic.md
process.ipynb